C 0 0 "VDD_1" 0 0 0 0 60 0 L
X "PIN_TEXT" "VDD_1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "VDD_2" 0 -100 0 0 60 0 L
X "PIN_TEXT" "VDD_2" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "VBAT_1" 0 -200 0 0 60 0 L
X "PIN_TEXT" "VBAT_1" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "VBAT_2" 0 -300 0 0 60 0 L
X "PIN_TEXT" "VBAT_2" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "NC_1" 0 -400 0 0 60 0 L
X "PIN_TEXT" "NC_1" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 700 -900 "EP" 700 -900 0 0 60 0 L
X "PIN_TEXT" "EP" 730 -670 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -700 700 -900 -1 0
C 1400 0 "PROG" 1400 0 0 0 60 0 R
X "PIN_TEXT" "PROG" 1170 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 0 1400 0 -1 0
C 1400 -100 "VSS_2" 1400 -100 0 0 60 0 R
X "PIN_TEXT" "VSS_2" 1170 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -100 1400 -100 -1 0
C 1400 -200 "VSS_1" 1400 -200 0 0 60 0 R
X "PIN_TEXT" "VSS_1" 1170 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -200 1400 -200 -1 0
C 1400 -300 "STAT" 1400 -300 0 0 60 0 R
X "PIN_TEXT" "STAT" 1170 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -300 1400 -300 -1 0
C 1400 -400 "NC_2" 1400 -400 0 0 60 0 R
X "PIN_TEXT" "NC_2" 1170 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -400 1400 -400 -1 0
L 200 100 1200 100 -1 0
L 1200 -700 1200 100 -1 0
L 1200 -700 200 -700 -1 0
L 200 100 200 -700 -1 0
P "$LOCATION" "?" 1250 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

