C 0 0 "NO" 0 0 0 0 60 0 L
X "PIN_TEXT" "NO" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "COM" 0 -100 0 0 60 0 L
X "PIN_TEXT" "COM" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
L 200 100 700 100 -1 0
L 700 -200 700 100 -1 0
L 700 -200 200 -200 -1 0
L 200 100 200 -200 -1 0
P "$LOCATION" "?" 750 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

